@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
li{
    cursor: pointer;
}
.tt{
    width: 100%;

}
.owl-item{
    float: left;
}